.idea/
.gradle/
build/
obj/
*.iml
local.properties
.externalNativeBuild
.cxx
service_account_credentials.json
*.aar
*.so
TMessagesProj/.cxx/
TMessagesProj/jniLibs/
TMessagesProj/jniRes/
**/.DS_Store
TMessagesProj/afat/
TMessagesProj_App/afat/
TMessagesProj_AppHockeyApp/afat/
TMessagesProj_AppStandalone/afat/
TMessagesProj_AppHuawei/afat/
