[submodule "TMessagesProj/jni/libwebp"]
	path = TMessagesProj/jni/libwebp
	url = https://github.com/webmproject/libwebp
[submodule "TMessagesProj/jni/ffmpeg"]
	path = TMessagesProj/jni/ffmpeg
	url = https://github.com/FFmpeg/FFmpeg
	ignore = dirty
	branch = n4.4.3
[submodule "TMessagesProj/jni/boringssl"]
	path = TMessagesProj/jni/boringssl
	url = https://github.com/google/boringssl
	ignore = all
[submodule "TMessagesProj/jni/libvpx"]
	path = TMessagesProj/jni/libvpx
	url = https://github.com/webmproject/libvpx
	ignore = dirty

[submodule "nekox-sing-box/sing-box"]
	path = nekox-sing-box/sing-box
	url = https://github.com/SagerNet/sing-box.git
